@import '../styles/variables.less';

@prefixCls: beach-checkBox;

.@{prefixCls} {
  line-height: 10px;
  border-radius: @border-radius;
  border: 1px solid rgb(217, 217, 217);
  transition: all @animation-duration @animation-type;
  padding: 4px 12px;
  height: 32px;

  &:hover {
    cursor: pointer;
  }

  &[disabled] {
    box-shadow: none;
    cursor: not-allowed;
  }

  &-lg {
    width: 45px;
    height: 45px;
  }

  &-sm {
    width: 10px;
    height: 10px;
  }

  &-red {
    background-color: @primary;
    transition: all @animation-duration @animation-type;
    height: inherit;
    width: inherit;
  }
}

input{
  border: none;
}

